#wrap {
    padding: 20px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left, .right {
    height: 150px;
}

.left, .right, footer {
    border: 2px solid black;
}

.left {
    width: 30%;
    background-color: pink;
    margin-right: 20px;
}

.right {
    width: 60%;
    background-color: aqua;
}

footer {
    height: 150px;
    background-color: bisque;
}